.dropdown{
	border-radius: 5px;
	background-color: #FFFFFF;
	padding-left: 15px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	font-size: 16px;
	border-width:1px;
	border-color: #E1E1E1;
	border-style: solid;
	transition: 0.3s;
}
.dropdown:hover{
	background-color: #FFFFFF;
}