.confirm-background{
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
	z-index: 3;
}

.confirm-container{
	display: flex;
	flex-direction: column;
	position: fixed;
	top:30%;
	right: 25%;
	background-color: #EDEDED;
	width: 50%;
	height: 40%;
	z-index: 3;
	padding-bottom: 20px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	font-family: 'calibri'
}
.confirm-container .close{
	margin-right: 10px;
	margin-left: auto;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s
}
.confirm-container .close:hover{
	opacity: 1
}
.confirm-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: white;
	background-color: #4D87EC;
}
.confirm-header .title{
	margin-left: 20px;
}
.confirm-message{
	align-self: center;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 18px;
}
.confirm-buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.warning{
	background-color: #ffa500;
	border-color: #ee9400;
}
.warning:hover{
	background-color: #ee9400;
}

.danger{
	background-color: #D9534F;
	border-color: #C8423E;
}
.danger:hover{
	background-color: #C8423E;
}

.success{
	background-color: #61B2A7;
	border-color: #50A196;
}
.success:hover{
	background-color: #50A196;
}