.label-component{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 5px;
	background-color: #4D87EC;
	padding-left: 20px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	border-width:1px;
	border-color: #FFFFFF;
	border-style: solid;
	transition: 0.3s;
	margin-left: 20px;
	margin-right: 20px;
	font-family: calibri;
}
.label-component span{
	margin-left: 10px;
	margin-right: 10px;
	color: white;
}
.label-component i{
	color: white;
}

.label-component .label-title{
	color: white;
	font-size: 25px;
	text-align: left;
}
.label-component .label-subtitle{
	color: white;
	font-size: 14px;
	text-align: left;
}

.label-footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-self: flex-end;
}
.label-footer .mini-label{
	display: flex;
	flex-direction: column;
}
.mini-label .mini-label-subtitle{
	color: black;
	font-size: 12px;
	text-align: left;
}
.mini-label .mini-label-title{
	color: black;
	font-size: 14px;
	text-align: left;
}

.warning{
	background-color: #FFCC00;
	border-color: #EECC00;
}
.warning:hover{
	background-color: #EECC00;
}

.danger{
	background-color: #D9534F;
	border-color: #C8423E;
}
.danger:hover{
	background-color: #C8423E;
}

.success{
	background-color: #61B2A7;
	border-color: #50A196;
}
.success:hover{
	background-color: #50A196;
}

.disabled{
	background-color: #B5B5B5;
	border-color: #A4A4A4;
}
.disabled:hover{
	background-color: #A4A4A4;
}
.solid{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.solid:hover{
	background-color: #FFFFFF;
}
.solid span{
	color:#D5D5D5;
}
.solid i{
	color: #D5D5D5;
}

.normal{
	background-color: #FFFFFF;
	border-color: #FFFFFF;
}
.normal:hover{
	background-color: #FFFFFF;
}
.normal span{
	color:#131313;
}
.normal i{
	color: #131313;
}