.search{
	width:50%;
	opacity: 0.8;
}
.search input{
	width:100%;
	font-size: 16px;
	height: 35px;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #EFEFEF;
	background-color: #FFFFFF;
	padding-left: 50px;
	padding-right: 10px;
	background-image:url('/assets/imgs/search-icon.png');
	background-repeat:no-repeat;
	background-position:2% center;
	background-size: 30px 30px;
}